// title

@mixin title-primary-mobile($font-family: $font-primary-bold, $color: $color-black) {
  font-family: $font-family;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: $color;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

@mixin title-primary-tablet {
  font-size: 56px;
  line-height: 80px;
}

@mixin title-secondary-mobile($font-family: $font-primary-bold, $color: $color-black) {
  font-family: $font-family;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: $color;
  text-align: center;
  padding: 0;
  margin: 0;
}

@mixin title-secondary-tablet {
  font-size: 42px;
  line-height: 64px;
}

@mixin title-tertiary-mobile($font-family: $font-primary-bold, $color: $color-black) {
  font-family: $font-family;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $color;
  text-align: center;
  padding: 0;
  margin: 0;
}

@mixin title-tertiary-tablet {
  font-size: 24px;
  line-height: 36px;
  text-align: left;
}

@mixin title-quaternary-mobile($font-family: $font-primary-bold, $color: $color-primary) {
  font-family: $font-family;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: $color;
  text-align: left;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
}

@mixin badge($font-family: $font-primary-bold, $color: $color-primary) {
  font-family: $font-family;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: $color;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

// text

@mixin text-main-mobile($font-family: $font-primary-regular, $color: $color-black) {
  font-family: $font-family;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $color;
  text-align: center;
  padding: 0;
  margin: 0;
}

@mixin text-main-tablet {
  font-size: 20px;
  line-height: 32px;
}

@mixin text-main-desktop {
  text-align: left;
}

@mixin price($font-family: $font-primary-semibold, $color: $color-black) {
  font-family: $font-family;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: $color;
  padding: 0;
  margin: 0;
}

// flex ang grid

@mixin flex($justify-content, $align-items, $flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// button

@mixin button {
  @include flex(center, center);
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
