.button {
  @include button;

  &--primary {
    font-family: $font-primary-regular;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $color-white;
    padding: 8px 20px;
    background-color: $color-primary;
    border-radius: 4px;

    &:hover,
    &:focus {
      background-color: $color-primary-lighter;
      outline: none;
    }

    &:active {
      background-color: $color-primary-darker;
    }

    &:disabled {
      background-color: $color-grey;
      cursor: default;
    }
  }

  &--secondary {
    font-family: $font-primary-regular;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $color-primary;
    padding: 8px 20px;
    background-color: $color-white;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: $color-white;
      background-color: $color-primary-lighter;
      outline: none;
    }

    &:active {
      background-color: $color-primary-darker;
    }

    &:disabled {
      background-color: $color-grey;
      cursor: default;
    }
  }
}
