.catalog {
  @include flex(center, center);
  padding: 50px 20px 60px;
  background-color: $bg-lightest-grey;

  @media (min-width: $vp-tablet) {
    padding: 80px 20px 90px;
  }
}

.catalog__wrapper {
  @media (min-width: $vp-desktop) {
    display: grid;
    grid-template-columns: 318px 1011px;
    column-gap: 30px;
  }
}

.catalog__badge {
  margin: 0 0 4px;

  @media (min-width: $vp-desktop) {
    text-align: center;
    grid-column: 1/-1;
  }
}

.catalog__subtitle {
  @include title-secondary-mobile;
  margin-bottom: 20px;

  @media (min-width: $vp-tablet) {
    @include title-secondary-tablet;
  }

  @media (min-width: $vp-desktop) {
    text-align: center;
    grid-column: 1/-1;
  }
}
