.features {
  @include flex(center, center);
  padding: 50px 20px 60px;

  @media (min-width: $vp-tablet) {
    padding: 60px 20px 100px;
  }

  @media (min-width: $vp-desktop) {
    padding: 100px 40px 120px;
  }
}

.features__badge {
  margin: 0 0 4px;
  text-align: center;
}

.features__subtitle {
  @include title-secondary-mobile;
  margin-bottom: 36px;

  @media (min-width: $vp-tablet) {
    @include title-secondary-tablet;
    margin-bottom: 60px;
  }
}

.features__list {
  @include flex(center, center, column);
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $vp-tablet) {
    display: grid;
    grid-template-columns: repeat(2, 339px);
    gap: 50px 30px;
  }

  @media (min-width: $vp-desktop) {
    grid-template-columns: repeat(4, 318px);
  }
}

.features__item {
  @include flex(center, center, column);
  position: relative;

  &--speed {
    &::before {
      content: "";
      position: relative;
      display: block;
      width: 52px;
      height: 56px;
      margin-bottom: 11px;
      background-image: url("../../icons/features-speed.svg");
    }
  }

  &--fit {
    &::before {
      content: "";
      position: relative;
      display: block;
      width: 52px;
      height: 56px;
      margin-bottom: 11px;
      background-image: url("../../icons/features-fit.svg");
    }
  }

  &--energy {
    &::before {
      content: "";
      position: relative;
      display: block;
      width: 52px;
      height: 56px;
      margin-bottom: 11px;
      background-image: url("../../icons/features-energy.svg");
    }
  }

  &--eco {
    &::before {
      content: "";
      position: relative;
      display: block;
      width: 52px;
      height: 56px;
      margin-bottom: 11px;
      background-image: url("../../icons/features-eco.svg");
    }

    p {
      line-height: 23px;
    }
  }

  @media (min-width: $vp-tablet) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;

    &::before {
      align-self: flex-start;
      margin-top: 4px;
    }
  }

  @media (min-width: $vp-desktop) {
    display: flex;

    &::before {
      align-self: center;
      margin: 0 0 20px;
    }
  }
}

.features__item-wrapper {
  @include flex(center, center, column);
  position: relative;

  @media (min-width: $vp-tablet) {
    @include flex(flex-start, flex-start, column);
    gap: 10px;
  }

  @media (min-width: $vp-desktop) {
    align-items: center;
  }
}

.features__item-title {
  @include title-tertiary-mobile;
  line-height: 35px;

  @media (min-width: $vp-tablet) {
    @include title-tertiary-tablet;
  }

  @media (min-width: $vp-desktop) {
    text-align: center;
  }
}

.features__item-description {
  margin: 0;

  @media (min-width: $vp-tablet) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  @media (min-width: $vp-desktop) {
    text-align: center;
  }
}
