.footer {
  @include flex(center, flex-start,column);
  padding: 20px 20px 30px;

  @media (min-width: $vp-tablet) {
    padding: 40px 20px;
  }
}

.footer__wrapper {
  width: $wrapper-mobile;

  @media (min-width: $vp-tablet) {
    width: $wrapper-tablet;
  }
}

.footer__inner {
  @include flex(space-between, center);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -100vw;
    right: -100vw;
    bottom: 0;
    height: 1px;
    background-color: $color-secondary;

  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 30px;

    &::after {
      content: none;
    }
  }
}

.footer__logo-link {
  span {
    display: none;
  }
}
