.footer {
  @include flex(center, center, column);

  @media (min-width: $vp-tablet) {
    padding: 40px 0;
  }
}

.footer__wrapper {
  @include flex(space-between, center);
  padding: 20px 0;
  width: $wrapper-mobile;

  @media (min-width: $vp-tablet) {
    width: $wrapper-tablet;
  }
}

.footer__inner {
  @include flex(center, center);
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: $color-secondary;
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 30px;

    &::after {
      content: none;
    }
  }
}

.footer__logo-link {
  span {
    display: none;
  }
}
