.footer-nav {
  @media (min-width: $vp-tablet) {
    display: grid;
    grid-template-columns: 223px 222px 223px;
    gap: 30px;
  }
}

.footer-nav__inner {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: $color-secondary;

  }

  @media (min-width: $vp-tablet) {
    padding: 0;
    margin-bottom: 30px;

    &::after {
      content: none;
    }
  }
}

.footer-nav__wrapper {
  @include flex(flex-start, flex-start, column);
  gap: 12px;
  padding: 20px;
  width: 100%;

  @media (min-width: $vp-tablet) {
    padding: 0;
  }
}

.footer-nav__title {
  @include title-quaternary-mobile;
}

.footer-nav__list {
  @include flex(flex-start, flex-start, column);
  gap: 4px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-nav__link {
  display: inline-block;
  position: relative;
  font-family: $font-primary-medium;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: $color-black;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: uppercase;
  gap: 2px;

  span {
    display: inline-block;
    margin-left: 15px;
    text-align: left;
  }

  &--address {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 13px;
      height: 16px;
      background-image: url("../../icons/address.svg");
      background-size: 13px 16px;
    }
  }

  &--phone {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 13px;
      height: 16px;
      background-image: url("../../icons/phone.svg");
      background-size: 13px 16px;
    }
  }
}
