.footer-address {
  text-align: left;

  ul {
    gap: 16px;
  }

  .footer-nav__link {
    @include text-main-mobile;
    font-style: normal;
    text-transform: none;
  }

  @media (min-width: $vp-tablet) {
    ul {
      gap: 4px;
    }
  }
}
