.form {
  form {
    @media (min-width: $vp-tablet) {
      display: grid;
      grid-template-columns: 223px 222px 223px;
      gap: 10px 30px;
    }

    @media (min-width: $vp-desktop) {
      @include flex(flex-start, flex-start, column);
      gap: 0;
    }
  }
}

.form__title {
  @include price;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 29px;

  &--is-milk {
    margin-bottom: 18px;
  }

  &--country {
    margin-bottom: 20px;
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 30px;

    &--is-milk {
      margin-bottom: 20px;
    }

    &--country {
      margin-bottom: 20px;
    }
  }
}

.form__inner {
  margin-bottom: 18px;

  &--milk {
    margin-bottom: 30px;
  }

  &--country {
    margin-bottom: 30px;
  }

  @media (min-width: $vp-desktop) {
    &--range {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $vp-desktop) {
    &--country {
      margin-bottom: 40px;
    }
  }
}

.form__list {
  @include flex(center, flex-start, column);
  gap: 20px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.form__item {
  label {
    @include flex(flex-start, center);
    gap: 10px;
    cursor: pointer;
  }
}

.form__item-input {
  appearance: none;
  position: relative;
  display: inline-block;
  margin: 0;
  width: 24px;
  height: 24px;
  border: 2px solid $color-grey;
  border-radius: 50%;

  &:checked {
    border: 2px solid $color-primary;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      background-color: $color-primary;
      border-radius: 50%;
    }
  }

  &:disabled {
    opacity: 0.5;

    & + span {
      opacity: 0.5;
    }
  }
}

.form__inner-button {
  @include flex(flex-start, center, column);
  gap: 20px;
  margin-bottom: 42px;

  button {
    width: 100%;
  }

  @media (min-width: $vp-tablet) {
    @include flex(center, center, row);
    grid-column: 1/-1;

    button {
      width: auto;
    }
  }

  @media (min-width: $vp-desktop) {
    button {
      padding: 8px 26px;
      width: 149px;
    }
  }
}
