.header__wrapper {
  @include flex(space-between, center);
  padding-left: 20px;
  width: $vp-mobile;

  @media (min-width: $vp-tablet) {
    padding: 0 20px;
    width: $vp-tablet;
  }
}

.header__logo-link {
  p {
    display: none;
  }
}
