.header__wrapper {
  @include flex(space-between, center);
  width: $vp-mobile;
  padding: 0 0 0 20px;

  @media (min-width: $vp-tablet) {
    padding: 0 20px;
    width: $wrapper-tablet;
  }

  @media (min-width: $vp-desktop) {
    width: $wrapper-desktop;
    padding: 0 40px;
  }
}

.header__logo-link {
  @include flex(flex-start, center);
  font-size: 12px;
  line-height: 16px;
  color: $color-black;
  text-decoration: none;
  gap: 20px;

  span {
    display: none;
  }

  @media (min-width: $vp-desktop) {
    span {
      display: inline-block;
      width: 130px;
    }
  }
}
