.hero {
  @include flex(center, center);
  width: 100vw;

  &:has(.slider__item--flat-white.slider__item--current) {
    background-color: $bg-flat-white;
  }

  &:has(.slider__item--lavender-latte.slider__item--current) {
    background-color: $bg-lavender-latte;
  }

  &:has(.slider__item--lavender-latte.slider__item--current) {
    background-color: $bg-lavender-latte;
  }
}
