.navigation {
  @include flex(center, center);
}

.navigation__main {
  @include flex(flex-end, center);
  order: 1;

  @media (min-width: $vp-tablet) {
    order: 0;
    margin-right: 60px;
  }

  @media (min-width: $vp-desktop) {
    margin-right: 162px;
  }
}

.navigation__button {
  padding: 24px 22px;

  &--closed {
    .navigation__icon--close {
      display: none;
    }
  }

  @media (min-width: $vp-tablet) {
    display: none;
  }
}

.navigation__list {
  display: none;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $vp-tablet) {
    @include flex(flex-start, center, row);
  }

  @media (min-width: $vp-desktop) {
    gap: 23px;
  }
}

.navigation__item {
  display: flex;
}

.navigation__link {
  position: relative;
  font-family: $font-primary-medium;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  padding: 32px 20px;
  color: $color-black;

  &--current {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color-primary;
    }
  }
}

.navigation__user {
  @include flex(flex-end, center);
}

.navigation__user-list {
  @include flex(flex-end, center);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation__user-icon {
  @include flex(center, center);
  width: 16px;
  height: 16px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.navigation__user-link {
  font-family: $font-primary-medium;
  font-size: 12px;
  line-height: 16px;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 22px;

  span {
    display: none;
  }

  @media (min-width: $vp-tablet) {
    padding: 32px 20px;
  }

  @media (min-width: $vp-desktop) {
    @include flex(flex-start, center);
    gap: 8px;

    span {
      display: block;
    }
  }
}
