.page {
  height: 100%;
}

.page__body {
  @include text-main-mobile;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  min-height: 100%;

  @media (min-width: $vp-tablet) {
    @include text-main-tablet;
  }
}

.page__main {
  flex-grow: 1;
}
